@font-face { font-family: 'Pretendard-Regular'; src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); font-weight: 400; font-style: normal; } 

body { background-color: #FBF7EB; overflow-x: hidden; } 

#wrapper { margin: 0 auto; width: 1920px; } 

header { position: fixed; width: 1920px; padding-top: 36px; background: rgba(143, 145, 95, 0.667); z-index: 8; } 

nav ul { float: right; margin-right: 20px; } 

nav li { display: inline; float: left; font-family: 'Pretendard-Regular'; font-size: 24px; font-style: normal; font-weight: 600; line-height: normal; color: #fff; } 

nav a { display: inline-block; padding: 25px; } 

.logo img { float: left; width: 90px; } 

/* wrap1 */
#wrap_1 { position: relative; background-image: url('../img/pic1.png'); background-repeat: no-repeat; background-position: center; background-size: cover; width: 100%; height: 1080px; } 

.w, .e, .b, .p, .u, .b2, .l, .i, .s, .h, .e2, .r { opacity: 0; animation: reveal 9s infinite; } 

.w { position: absolute; color: #FFF; font-family: Kaushan Script; font-size: 250px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 125px; margin-top: 177px; animation-delay: 0s; } 

.e { position: absolute; color: #FFF; font-family: Kaushan Script; font-size: 250px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 370px; margin-top: 177px; animation-delay: .4s; } 

.b { position: absolute; color: #FFF; font-family: Kaushan Script; font-size: 250px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 540px; margin-top: 177px; animation-delay: .8s; } 

.p { position: absolute; color: #FFF; font-family: Kaushan Script; font-size: 180px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 340px; margin-top: 686px; animation-delay: 1.2s; } 

.u { position: absolute; color: #FFF; font-family: Kaushan Script; font-size: 180px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 460px; margin-top: 686px; animation-delay: 1.5s; } 

.b2 { position: absolute; color: #FFF; font-family: Kaushan Script; font-size: 180px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 1080px; margin-top: 686px; animation-delay: 1.8s; } 

.l { position: absolute; color: #FFF; font-family: Kaushan Script; font-size: 180px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 1200px; margin-top: 686px; animation-delay: 2.1s; } 

.i { position: absolute; color: #FFF; font-family: Kaushan Script; font-size: 180px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 1280px; margin-top: 686px; animation-delay: 2.4s; } 

.s { position: absolute; color: #FFF; font-family: Kaushan Script; font-size: 180px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 1330px; margin-top: 686px; animation-delay: 2.7s; } 

.h { position: absolute; color: #FFF; font-family: Kaushan Script; font-size: 180px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 1450px; margin-top: 686px; animation-delay: 3s; } 

.e2 { position: absolute; color: #FFF; font-family: Kaushan Script; font-size: 180px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 1565px; margin-top: 686px; animation-delay: 3.3s; } 

.r { position: absolute; color: #FFF; font-family: Kaushan Script; font-size: 180px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 1680px; margin-top: 686px; animation-delay: 3.6s; } 

@keyframes reveal { 0%, 22.22% { opacity: 0; } 
 22.22%, 77.77% { opacity: 1; } 
 77.77%, 100% { opacity: 0; } 
 }

.blisher { position: absolute; color: #FFF; font-family: Kaushan Script; font-size: 180px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 1080px; margin-top: 686px; } 

/* wrap_2 */

#wrap_2 { position: relative; top: 100px; height: 1400px; } 

.all_circle { margin-left: 60px; margin-top: 90px; } 

.circle:hover { background-color: #8F915F; color: #FBF7EB; } 

.circle { width: 1752px; height: 344px; flex-shrink: 0; border-radius: 170px; border: 4px solid #8F915F; color: #8F915F; font-family: Pretendard; font-size: 220px; font-style: normal; font-weight: 400; line-height: 350px; text-align: center; } 

.circle1 { transform: rotate(-4.847deg); animation: fall 1.3s ease-in; animation-delay: 0s; background-color: #FBF7EB; } 

.circle2 { transform: rotate(6.044deg); margin-top: 50px; animation: fall 1.3s ease-in; animation-delay: .1s; background-color: #FBF7EB; } 

.circle3 { transform: rotate(-3.781deg); margin-top: 20px; animation: fall 1.3s ease-in; animation-delay: .2s; background-color: #FBF7EB; } 

@keyframes fall { 
 from { transform-origin: right center; transform: translateY(-50px) rotate(10deg); } 
 50% { transform-origin: left center; transform: translateY(-2px) rotate(-7deg); } 
 70% { transform-origin: left center; transform: translateY(-10px) rotate(0deg); } 
 80% { transform-origin: right center; transform: translateY(-5px) rotate(5deg); } 
 90% { transform-origin: right center; transform: translateY(-2px) rotate(0deg); } 
 100% { transform-origin: left center; transform: translateY(0) rotate(0deg); } 
 }

/* wrap_3 */
#wrap_3 { position: relative; height: 2350px; } 

.img_container2 { position: absolute; display: inline-block; margin-left: 1139px; margin-top: 60px; } 

.number22 { position: absolute; color: #8F915F; font-family: 'Lakki Reddy', cursive; font-size: 270px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 96px; margin-top: -400px; } 

.number_circle { margin-top: 10px; animation: rotate 10s linear infinite; } 

@keyframes rotate { 
 0% { transform: rotate(0deg); } 
 100% { transform: rotate(360deg); } 
 }

.name_text1 { position: absolute; margin-left: -120px; margin-top: 620px; } 

.img_container1 { position: relative; display: inline-block; margin-left: 84px; } 

.selfi_1-1 { position: absolute; top: 0px; left: 0px; opacity: 0; transition: opacity 0.5s linear; } 

.img_container1:hover .selfi_1-1 { opacity: 1; } 

.img_container3 { position: relative; float: right; margin-top: -180px; } 

.selfi_3-1 { position: absolute; top: 0px; left: 0px; opacity: 0; transition: opacity 0.5s linear; } 

.img_container3:hover .selfi_3-1 { opacity: 1; } 

.img_container4 { position: relative; display: inline-block; margin-left: 170px; margin-top: -370px; } 

.selfi_4-1 { position: absolute; top: 0px; left: 0px; opacity: 0; transition: opacity 0.5s linear; } 

.img_container4:hover .selfi_4-1 { opacity: 1; } 

#wrap_4 { position: relative; height: 1600px; } 

.merits { position: absolute; color: #8F915F; font-family: Kaushan Script; font-style: normal; font-weight: 400; line-height: normal; } 

.merit_p1 { font-size: 140px; transform: rotate(-14deg); margin-left: 22px; margin-top: 50px; } 

.merit_p2 { font-size: 290px; margin-left: 382px; margin-top: 180px; } 

.merit_p3 { font-size: 170px; margin-left: 770px; margin-top: 770px; } 

.merit_p4 { font-size: 220px; margin-left: 770px; margin-top: 960px; } 

/* clock */
.move { position: absolute; margin-left: 1392px; } 

.clock { position: relative; height: 450px; width: 450px; background: white; box-sizing: border-box; border-radius: 100%; border: 20px solid #8F915F; } 

.clock .top { position: absolute; width: 3px; height: 20px; background: #262626; left: 0; right: 0; margin: 0 auto; } 

.clock .right { position: absolute; width: 20px; height: 3px; background: #262626; top: 0; bottom: 0; right: 0; margin: auto 0; } 

.clock .bottom { position: absolute; width: 3px; height: 20px; background: #262626; left: 0; right: 0; bottom: 0; margin: 0 auto; } 

.clock .left { position: absolute; width: 20px; height: 3px; background: #262626; top: 0; bottom: 0; left: 0; margin: auto 0; } 

.clock .center { height: 15px; width: 15px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; background: #8F915F; border-radius: 100%; } 

.clock .shadow { height: 200px; width: 420px; position: absolute; left: 70px; top: 180px; transform: rotate(135deg); background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)); } 

.clock .hour { width: 3px; height: 100%; position: absolute; left: 0; right: 0; margin: 0 auto; animation: time 60s infinite linear; } 

.clock .hour:before { position: absolute; content: ""; background: #262626; height: 130px; width: 3px; top: 30px; } 

.clock .minute { width: 1px; height: 100%; position: absolute; left: 0; right: 0; margin: 0 auto; animation: time 30s infinite linear; } 

.clock .minute:before { position: absolute; content: ""; background: #262626; height: 170px; width: 1px; top: 50px; } 

.clock .second { width: 2px; height: 100%; position: absolute; left: 0; right: 0; margin: 0 auto; animation: time 15s infinite linear; } 

.clock .second:before { position: absolute; content: ""; background: #fd1111; height: 30px; width: 2px; top: 45px; } 

@keyframes time { to { transform: rotate(360deg); } 
 }

/* toggle */
.move_2 { display: flex; flex-direction: column; } 

.toggle-box2 > label { width: 500px; height: 200px; position: relative; display: block; background: #8f915f37; border-radius: 200px; box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4); cursor: pointer; transition: 0.3s; } 

.toggle-box2 > label:after { content: ""; width: 180px; height: 180px; position: absolute; top: 10px; left: 10px; background: linear-gradient(180deg, #ffcc89, #d8860b); border-radius: 180px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); transition: 0.3s; } 

.toggle-box2 > label svg { position: absolute; width: 120px; top: 40px; z-index: 100; } 

.toggle-box2 > label svg.sun2 { left: 40px; fill: #fff; transition: 0.3s; } 

.toggle-box2 > label svg.moon2 { left: 340px; fill: #7e7e7e; transition: 0.3s; } 

.toggle-box2 > input { width: 0; height: 0; visibility: hidden; } 

.toggle-box2 > input:checked + label { background: #242424; } 

.toggle-box2 > input:checked + label:after { left: 490px; transform: translateX(-100%); background: linear-gradient(180deg, #777, #3a3a3a); } 

.toggle-box2 > input:checked + label svg.sun2 { fill: #7e7e7e; } 

.toggle-box2 > input:checked + label svg.moon2 { fill: #fff; } 


.toggle-box2 > input:active:after { width: 260px; } 
/* 교수님한테 배운 코드 */

.toggle-box2 { position: relative; margin-left: -580px; margin-top: 960px; transform:translateX(700px); z-index: 5; } 

.toggle-box2 label { position: absolute; top:0; left:0; } 

#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_5 .yellow_spuare1,
#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_5 .yellow_spuare2 { background: rgb(255, 49, 128);}

#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_5 .explanation { color: rgb(255, 255, 255);}

#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_5 .portpolio,
#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_5 .rum,
#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_5 .my,
#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_5 .mpus { color:rgb(255, 49, 128);}

#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_5 .fo,
#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_5 .web2,
#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_5 .food_ca { color: white;}

#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_5 .line1,
#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_5 .line2,
#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_5 .line3,
#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_5 .line4 { border: 4px solid white;}

#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_6 .infinite_1 { color: white;}

#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_6 .main_text,
#wrap_4:has(input[type=checkbox]:checked) ~ #wrap_6 .infinite_2 { color:rgb(255, 49, 128);}

#wrap_4:has(input[type=checkbox]:checked) ~ footer p { color: white;}

#wrap_4:has(input[type=checkbox]:checked) ~ footer ul { color:rgb(255, 49, 128);}

/* wrap_5 */
#wrap_5 { position: relative; height: 3200px; } 

.portpolio { position: absolute; color: #8F915F; font-family: Pretendard; font-size: 50px; font-style: normal; font-weight: 600; line-height: normal; margin-left: 50px; margin-top: 18px; } 

.line1 { position: absolute; width: 1866px; height: 1060px; border: 4px solid #8F915F; margin-left: 33px; z-index: 2; } 

.yellow_spuare1 { position: absolute; width: 1920px; height: 1491px; background: #FFE9A6; margin-top: 230px; z-index: -1; } 

.polio1 { position: absolute; width: 1090px; height: auto; object-fit: contain; z-index: 3; margin-left: 787px; margin-top: 31px; filter: blur(3px) } 

.rum { position: absolute; font-family: Kaushan Script; font-size: 220px; font-style: normal; font-weight: 400; line-height: normal; z-index: 4; margin-left: 770px; margin-top: 193px; color: #8F915F; } 

.fo { position: absolute; color: #ffffff; font-family: Kaushan Script; font-size: 220px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 455px; margin-top: 193px; } 

.explanation1 { position: absolute; color: #8F915F; text-align: right; font-family: Pretendard; font-size: 40px; font-style: normal; font-weight: 400; line-height: 55px; display: flex; flex-direction: column; margin-left: 900px; margin-top: 710px; } 

.line2 { position: absolute; width: 1200px; height: 1080px; border: 4px solid #8F915F; margin-top: 1004px; } 

.polio2 { position: absolute; margin-left: 78px; margin-top: 1200px; filter: blur(3px) } 

.my { position: absolute; color: #FFF; font-family: Kaushan Script; font-size: 220px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 790px; margin-top: 1400px; } 

.web2 { position: absolute; color: #8F915F; font-family: Kaushan Script; font-size: 220px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 1190px; margin-top: 1400px; } 

.explanation2 { position: absolute; color: #8F915F; font-family: Pretendard; font-size: 40px; font-style: normal; font-weight: 400; line-height: 55px; margin-left: 77px; margin-top: 1910px; } 

.yellow_spuare2 { position: absolute; width: 1918px; height: 969px; background: #FFE9A6; z-index: -1; margin-top: 2300px; } 

.line3 { position: absolute; width: 1367px; height: 845px; border: 4px solid #8F915F; margin-top: 2060px; margin-left: 549px; } 

.polio3 { position: absolute; margin-left: 787px; margin-top: 2250px; filter: blur(3px) } 

.mpus { position: absolute; color: #FFF; font-family: Kaushan Script; font-size: 170px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 790px; margin-top: 2500px; } 

.food_ca { position: absolute; color: #8F915F; font-family: Kaushan Script; font-size: 170px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 46px; margin-top: 2500px; } 

.line4 { position: absolute; border: 4px solid #8F915F; margin-left: 439px; margin-top: 2890px; width: 188px; height: 116px; } 

.explanation3 { position: absolute; color: #8F915F; text-align: right; font-family: Pretendard; font-size: 40px; font-style: normal; font-weight: 400; line-height: 55px; margin-left: 990px; margin-top: 2970px; } 

/* wrap_6 */

#wrap_6 { position: relative; height: 1500px; } 

.infinite { white-space: nowrap; position: absolute; } 

.infinite_1 { color: #8F915F; font-family: Pretendard; font-size: 160px; font-style: normal; font-weight: 500; line-height: normal; margin-top: 110px; animation: 8s linear infinite scroll_1; } 

.infinite_1:hover { animation-play-state: paused;}

.infinite_2 { color: #8F915F; font-family: Pretendard; font-size: 60px; font-style: normal; font-weight: 400; line-height: normal; margin-top: 304px; margin-left: -2000px; animation: 13s linear infinite scroll_2; } 

.infinite_2:hover { animation-play-state: paused;}


@keyframes scroll_1 { 100% { transform: translateX(-33.33%); } 
 }

@keyframes scroll_2 { 100% { transform: translateX(33.33%); } 
 }

.profile_bg1 { position: absolute; margin-left: 50px; margin-top: 430px; } 

.profile1 { position: absolute; margin-left: 93px; margin-top: 600px; } 

.yellow_spuare3 { position: absolute; margin-left: 1059px; margin-top: 613px; width: 859px; height: 783px; background: #FFE9A6; } 

.note { position: absolute; margin-left: 958px; margin-top: 488px; } 

.main_text { position: absolute; color: #8F915F; font-family: 'Pretendard'; font-size: 45px; font-style: normal; font-weight: 500; line-height: normal; margin-left: 1126px; } 

.pro-t1 { margin-top: 631px; } 

.pro-t2 { margin-top: 733px; } 

.pro-t3 { margin-top: 835px; } 

.pro-t4 { margin-top: 937px; } 

.sub_text { position: absolute; color: #929292; font-family: Pretendard; font-size: 22px; font-style: normal; font-weight: 500; line-height: normal; } 

.pro-t5 { margin-left: 1339px; margin-top: 652px; } 

.pro-t6 { margin-left: 1131px; margin-top: 1005px; } 

.icon1 { position: absolute; margin-left: 1131px; margin-top: 1080px; } 

.icon2 { position: absolute; margin-left: 1252px; margin-top: 1080px; } 

.icon3 { position: absolute; margin-left: 1371px; margin-top: 1080px; } 

.icon4 { position: absolute; margin-left: 1490px; margin-top: 1080px; } 


/* footer */

footer { position: relative; height: 307px; } 

.ft_name { display: flex; margin-left: 105px; } 

.ft_name p { color: #8F915F; font-family: Pretendard; font-size: 35px; font-style: normal; font-weight: 500; line-height: normal; margin-top: 60px; } 

.caution { position: absolute; color: #8F915F; font-family: Pretendard; font-size: 20px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 140px; margin-top: 10px; } 

.ft_nav { position: absolute; display: flex; color: #8F915F; font-family: Pretendard; font-size: 30px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 1320px; gap: 90px; } 

.Copyright { position: absolute; color: #8F915F; font-family: Pretendard; font-size: 20px; font-style: normal; font-weight: 400; line-height: normal; margin-left: 1515px; margin-top: 90px; } 

/* test code */

.fixed { display: flex; flex-direction: column; } 

.toggle-box > label { width: 150px; height: 50px; position: relative; display: block; background: #ffe58fbf; border-radius: 200px; box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.715), inset 0px -5px 15px rgb(255, 255, 255); cursor: pointer; transition: 0.3s; top: 130px; left: 1700px; } 

.toggle-box > label:after { content: ""; width: 42px; height: 42px; position: absolute; left: 7px; background: linear-gradient(180deg, #ffcc89, #d8860b); border-radius: 180px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); transition: 0.3s; top: 5px; } 

.toggle-box > label svg { top: 8px; position: absolute; width: 35px; z-index: 100; } 

.toggle-box > label svg.sun { left: 10px; fill: #fff; transition: 0.3s; } 

.toggle-box > label svg.moon { left: 107px; fill: #565899; transition: 0.3s; } 

.toggle-box > input { width: 0; height: 0; visibility: hidden; } 

.toggle-box > input:checked + label { background: #242424; } 

.toggle-box > input:checked + label:after { left: 144px; transform: translateX(-100%); background: linear-gradient(180deg, #777, #3a3a3a); } 

.toggle-box > input:checked + label svg.sun { fill: #7e7e7e; } 

.toggle-box > input:checked + label svg.moon { fill: #fff; } 

.toggle-box > input:checked + label + .background { background: #28282b; } 

.toggle-box > input:active:after { width: 260px; } 

.background { width: 100%; height: 100vh; background: #FBF7EB; z-index: -1; transition: 0.3s; position: fixed; left: 0; top: 0; } 



/*수정 (보고 배워라 민지야 이게 교수님의 코드다.*/
.toggle-box { position:fixed; top:100px; left:52%; transform:translateX(700px); z-index: 5; } 

.toggle-box label { position: absolute; top:0; left:0; } 

.toggle-box:has(input:checked) ~ .background { background: #28282b; } 

